body {
    background-image: url("../images/start-background.png");
    background-size: cover;
}

@font-face {
    font-family: "IntroDemo";
    src: local("IntroDemo"), url("../fonts/IntroDemo/IntroDemo-BlackInlineCAPS.otf") format("opentype");
}

.font-face-intro-demo {
    font-family: "IntroDemo", serif;
}

.btn-start {
    width: 40%;
    height: 50px;
    background-color: #CDC5FF;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.btn-start:hover {
    background-color: #AEA1FF;
}